<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Finedeals</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<servlet-class>Controller.LoginController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminController</servlet-name>
  	<servlet-class>Controller.AdminController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AdminController</servlet-name>
  	<url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ClientController</servlet-name>
  	<servlet-class>Controller.ClientController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ClientController</servlet-name>
  	<url-pattern>/ClientController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RegistrationController</servlet-name>
  	<servlet-class>Controller.RegistrationController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>RegistrationController</servlet-name>
  	<url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CouponController</servlet-name>
  	<servlet-class>Controller.CouponController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>CouponController</servlet-name>
  	<url-pattern>/CouponController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>OfferController</servlet-name>
  	<servlet-class>Controller.OfferController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>OfferController</servlet-name>
  	<url-pattern>/OfferController</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>GiftController</servlet-name>
  	<servlet-class>Controller.GiftController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>GiftController</servlet-name>
  	<url-pattern>/GiftController</url-pattern>
  </servlet-mapping>
  
</web-app>